<!DOCTYPE html>
<html lang="en" ng-app="recipeManagerApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Receipe Manager</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css" type="text/css" />
</head>

<body>
    <div class="container-fluid" ng-controller="recipeController">
        <div class="row">
            <div class="wrapper-layout">
                <div class="header">
                    <h1>Recipe Manager</h1>
                </div>

                <div class="section col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section-left col-lg-3 col-md-3 col-sm-5 col-xs-5">
                        <div class="recipe-list">
                            <select ng-options="recipe.name for recipe in recipeList" ng-model="recipeSelected" ng-change="change()">
                                <option value="" ng-disabled="true">Select a recipe</option>
                            </select>
                        </div>
                        <div class="recipe-list">
                            <button type="button" class="btn btn-success" ng-model="recAdded" ng-click="addNewRecipe()">Add Recipe</button>
                        </div>
                    </div>

                    <div class="section-right col-lg-9 col-md-9 col-sm-6 col-xs-6">
                        <div class="home-message" ng-if="!recipeSelected && !hideWelcome">
                            <h1>Welcome to Recipe Manager</h1>
                        </div>
                        <div class="ng-cloak">
                            <div class="ingredients" ng-if="recipeSelected && !addRecipeForm">
                                <h1>{{ recipeSelected.name }} - Ingredients List</h1>
                                <div class="ingredients-label">
                                    <label>Ingredient 1: {{ recipeSelected.ingredient1 }}</label>
                                    <label>Ingredient 2: {{ recipeSelected.ingredient2 }}</label>
                                    <label>Ingredient 3: {{ recipeSelected.ingredient3 }}</label>
                                    <label>Ingredient 4: {{ recipeSelected.ingredient4 }}</label>
                                </div>
                            </div>

                            <div class="ingredients-text" ng-if="addRecipeForm">
                                <h1>Ingredients List</h1>
                                <div ng-if="success">Success!!!!!</div>
                                <div class="ingredients-labeltext">
                                    <div><label>Name:</label><input type="text" class="ingredients-text" ng-model="newRecipe.name"></div>
                                    <div><label>Ingredient 1:</label><input type="text" class="ingredients-text" ng-model="newRecipe.ingredient1" required="true"></div>
                                    <div><label>Ingredient 2:</label><input type="text" class="ingredients-text" ng-model="newRecipe.ingredient2"></div>
                                    <div><label>Ingredient 3:</label><input type="text" class="ingredients-text" ng-model="newRecipe.ingredient3"></div>
                                    <div><label>Ingredient 4:</label><input type="text" class="ingredients-text" ng-model="newRecipe.ingredient4"></div>
                                </div>

                                <div class="button-submit">
                                    <button type="button" class="btn btn-md btn-primary" ng-click="submitRecipe()">Submit</button>
                                    <button type="button" class="btn btn-md btn-primary" ng-click="cancel()">Cancel</button>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/services.js"></script>
    <script type="text/javascript" src="js/recipeController.js"></script>
</body>

</html>